html, body{
  height: 100%;
}

.title {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/background.jpg');
  height: 35%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title h1 {
  text-align: right;
  color: white;
  font-family: 'Sen', sans-serif;
  margin: 0;
  padding-right: 2%;
  padding-top: 1%;
  font-size: 12vh;
  text-shadow: 2px 2px 12px rgba(0,0,0,0.5);
}

.navbar {
  width: 100%;
  height: 82px;
  position: relative;
  display: inline-block;
}

.navbar img {
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

#TARARUASELECTED {
  display: none;
}

#TARARUA:hover #TARARUASELECTED {
  display: block;
}

#MATAIRANGISELECTED {
  display: none;
}

#MATAIRANGI:hover #MATAIRANGISELECTED {
  display: block;
}

#ORONGORONGOSELECTED {
  display: none;
}

#ORONGORONGO:hover #ORONGORONGOSELECTED {
  display: block;
}

#PUKEATUASELECTED {
  display: none;
}

#PUKEATUA:hover #PUKEATUASELECTED {
  display: block;
}

#REMUTAKASELECTED {
  display: none;
}

#REMUTAKA:hover #REMUTAKASELECTED {
  display: block;
}

#PUKEARIKISELECTED {
  display: none;
}

#PUKEARIKI:hover #PUKEARIKISELECTED {
  display: block;
}

.stuffgoeshere {
  height: 100%;
}
