html, body {height: 100%;}

.title {
  background-image:      linear-gradient(rgba(0, 0, 0, 0.3),
                         rgba(0, 0, 0, 0.3)),
                         url('images/background.jpg');
  height:                35%;
  background-attachment: fixed;
  background-position:   center;
  background-repeat:     no-repeat;
  background-size:       cover;
}

.title h1 {
  text-align:    right;
  color:         white;
  font-family:   'Sen', sans-serif;
  margin:        0;
  padding-right: 2%;
  padding-top:   1%;
  font-size:     12vh;
  text-shadow:   2px 2px 12px rgba(0,0,0,0.5);
}

/******************************************************************************/

.navbar {
  width:    100%;
  position: relative;
  display:  block;
}

.navbar img {
  height:       128px;
  display:      block;
  margin-left:  auto;
  margin-right: auto;
  padding:      20px;
}

/* Hide light icon */
#TARARUASELECTED                           {display: none;}
#MATAIRANGISELECTED                        {display: none;}
#ORONGORONGOSELECTED                       {display: none;}
#PUKEATUASELECTED                          {display: none;}
#REMUTAKASELECTED                          {display: none;}
#PUKEARIKISELECTED                         {display: none;}

/* Hide dark icon on hover */
#TARARUA:hover     #TARARUANOTSELECTED     {display: none;}
#MATAIRANGI:hover  #MATAIRANGINOTSELECTED  {display: none;}
#ORONGORONGO:hover #ORONGORONGONOTSELECTED {display: none;}
#PUKEATUA:hover    #PUKEATUANOTSELECTED    {display: none;}
#REMUTAKA:hover    #REMUTAKANOTSELECTED    {display: none;}
#PUKEARIKI:hover   #PUKEARIKINOTSELECTED   {display: none;}

/* Show light icon on hover */
#TARARUA:hover     #TARARUASELECTED        {display: block;}
#MATAIRANGI:hover  #MATAIRANGISELECTED     {display: block;}
#ORONGORONGO:hover #ORONGORONGOSELECTED    {display: block;}
#PUKEATUA:hover    #PUKEATUASELECTED       {display: block;}
#REMUTAKA:hover    #REMUTAKASELECTED       {display: block;}
#PUKEARIKI:hover   #PUKEARIKISELECTED      {display: block;}

/* Gradient background on hover */
#TARARUA:hover {
  background: linear-gradient(135deg, #009ce1, #004461);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#MATAIRANGI:hover {
  background: linear-gradient(135deg, #ffe300, #BFA900);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#ORONGORONGO:hover {
  background: linear-gradient(135deg, #ff0071, #800039);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#PUKEATUA:hover {
  background: linear-gradient(135deg, #ff7200, #803900);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#REMUTAKA:hover {
  background: linear-gradient(135deg, #00773a, #00381B);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#PUKEARIKI:hover {
  background: linear-gradient(135deg, #760296, #440157);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/******************************************************************************/

.content {margin-top: 12vh;}

.hometext h1 {
  font-family: 'Roboto', sans-serif;
  color:       #424242;
  font-size:   42px;
}

.hometext p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size:   24px;
  color:       #616161;
}

.homeimg {
  width:         100%;
  margin-top:    6vh;
  border-radius: 10px;
  box-shadow:    0px 0px 10px rgba(0, 0, 0, 0.5);
}

/******************************************************************************/

.footer {
  box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.5);
  margin-top:  192px;
  background:  linear-gradient(135deg, #01e0a5, #212121);
  color:       white;
  font-family: 'Roboto', sans-serif;
}

.footer h1 {
  padding-top: 48px;
  font-family: 'Roboto', sans-serif;
  font-size:   42px;
  font-weight: 500;
}

.footer p {
  font-size:      24px;
  font-weight:    300;
  padding-bottom: 48px;
}

/******************************************************************************/

html[data-useragent*='Android'] .title h1 {
  font-size:  16vw  !important;
  padding:    0px   !important;
  text-align: right !important;
}

html[data-useragent*='Android'] .navbar img {
  width:  28vw;
  height: auto !important;
}

html[data-useragent*='Android'] .content {
  text-align: center;
  margin-top: 12px;
}

html[data-useragent*='Android'] .hometext {
  padding-left:  12px;
  padding-right: 12px;
}

html[data-useragent*='Android'] .homeimg {
  border-radius: 0px;
  margin-top:    0px;
  padding:       0px;
}

html[data-platform='iPhone'] .navbar img {
  width:  28vw;
  height: auto !important;
}

html[data-platform='iPhone'] .content {
  text-align: center;
  margin-top: 12px;
}

html[data-platform='iPhone'] .homeimg {
  border-radius: 0px;
  margin-top:    0px;
  padding:       0px;
}
